<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="num1" class="java.lang.Double">
        <constructor-arg type="java.lang.String" value="15.5"/>
    </bean>

    <bean id="num2" class="java.lang.Double">
        <constructor-arg type="java.lang.String" value="17.7"/>
    </bean>

    <bean id="calc" class="by.tms.spring.calc.Calc">
        <property name="num1" ref="num1"/>
        <property name="num2" ref="num2"/>
        <property name="actionType" value="SUM"/>
    </bean>
</beans>